doctype html
html
  head
    title="Brass Ring Brewing"
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .topcontainer
      .top
        .logo
          img(src="../images/logo 6_18_black.png")
        .title
        .info
          .phone
          .facebook
          .twitter
          .insta
      .topbuffer
      .buffer
      .highlight
    .content
      img(src="../images/brewery.jpg")

    block content
