doctype html
html
  head
    title="Brass Ring Brewing"
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .topcontainer
      .top
        .logo logo
        .title Brass Ring Brewing
        .info info
      .nav
        .home Home
        .ontap On Tap
        .hall Hall of Fame
        .menu Menu
        .team Our Team
        .contact Contact

    block content
